body {
	position: relative;
	background: #111;
}

body {
	background: #12141a;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

.header {
	background: #44464b9f;
	color: whitesmoke;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}


.img {
	padding: 0 20px;
	background: rgb(255, 255, 255);
}

.title {
	font-size: 40px;
	margin-left: 25px;
	font-weight: 400;
	font-family: 'Staatliches', cursive;
	color: white;
	text-decoration: none;
}


.input__item {
	width: 250px;
	height: 30px;
	border-radius: 8px;
	border: blanchedalmond;
	padding: 0 10px;
}

@media all and (min-width:1395px){
	.input__item{
		margin-left: 700px;
	}
}

@media all and (max-width:1394px) {
	.input__item{
		margin-left: 500px;
	}
}

@media all and (max-width:1050px) {
	.input__item{
		margin-left: 400px;
	}
}

@media all and (max-width:932px){
    .title{
		font-size: 30px;
	}
	.input__item{
		margin-left: 180px;
	}

}

@media all and (max-width:670px) {
	.title{
		font-size: 18px;
	}
	.input__item{
		margin-left: 180px;
		width: 130px;
	}
}

@media all and (min-width:500px){
	.img{
		width: 50px;
	    height: 100%;
		padding: 0 10px;
	}
	.img img{
	    width: 30;
	    padding-top: 5px;
    }
}

@media all and (max-width:499px){
	.img{
		width: 32px;
		padding:0 8px ;
	}
	.img img{
		width: 25px;
		padding-top: 4px;
	}
	.title{
		font-size: 15px;
	}
	.input__item{
		margin-left: 130px;
	}
}

@media all and (max-width:420px) {
	.title{
		font-size: 13px;
	}
	
	.input__item{
		margin-left: 120px;
		width: 80px;
	}
}

@media all and (max-width:350px){
	.input__item{
		margin-left: 100px;
		width: 80px;
	}
}

@media all and (max-width:320px){
	.input__item{
		margin-left: 70px;

	}
}

@media all and (max-width:286px){
	.input__item{
		width: 50px;
		margin-left: 50px;
	}
}




/* -----------------------Swiper------------------------ */
.swiper {
	width: 100%;
	/* height: 400px;*/
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background: #ffffff13;
}

.swiper-slide img {
	display: block;
	object-fit: cover;
}

@media all and (min-width:770px){
	.swiper-slide img{
		width: 800px;
	}
}

@media all and (max-width:723px){
	.swiper-slide img{
		width: 500px;
	}
}

@media all and (max-width:505px){
	.swiper-slide img{
		width: 350px;
	}
}

@media all and (max-width:350px){
	.swiper-slide img{
		width: 250px;
	}
	.img img {
		width: 16;
		height: 16;
	}
}

@media all and(max-width:260px){
	.swiper-slide img {
		width: 150px;
	}
}



/* --------------main--------------- */
.movies {
	padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .movie {
    width: 240px;
    margin: 10px;
    position: relative;
  }
  
  .movie__cover-inner {
    position: relative;
    height: 360px;
	transition: 1.5s;
  }
  .movie__cover {
    max-width: 100%;
    height: 100%;
  }
  
  .movie__cover--darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
  }
  
  .movie__info {
    padding: 10px 0px;
  }
  
  .movie__title {
    font-size: 16px;
    color: #ffffff;
  }
  
  .movie__category {
    padding-top: 10px;
    font-size: 14px;
    color: rgb(240, 224, 224);
  }
  
  .movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
  }
  
  .movie__average--green {
    border: 4px solid green;
  }
  
  .movie__average--orange {
    border: 4px solid orange;
  }
  
  .movie__average--red {
    border: 4px solid red;
  }

.informaton {
	position: absolute;
}

.buttons {
	margin: 20px;
	margin-left: 45%;
	width: 130px;
	display: flex;
	justify-content: space-between;
}
.button1 {
	background-color: rgba(245, 245, 245, 0.048);
	color: whitesmoke;
	border: 2px solid red;
	border-radius: 2px;
	transition: 0.5s;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}
.button2 {
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0.048);
	color: whitesmoke;
	border: 2px solid red;
	border-radius: 2px;
	transition: 0.5s;
}

.button1:hover {
	transform: scale(1.1);
}
.button2:hover {
	transform: scale(1.1);
}

@media all and (min-width:520px){
	.movie__cover-inner:hover{
		position: absolute;
		transform: scale(1.1);
	  }
}
/* -----------------footer--------------- */

.footer li{
	list-style-type: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 200;
	font-size: 10;
	margin-left: 10px;
}

.footer a{
	color: whitesmoke;
	text-decoration: none;
	transition: 0.5s;
}

.footer a:hover{
	color:rgb(238, 236, 147);
}

.footer ul h5 {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}
.footer ul {
	margin-left: 180px;
}

@media all and (min-width:1150px){
	.footer ul {
		margin-left: 180px;
	}
}

@media all and (max-width:1110px){
	.footer ul {
		margin-left: 150px;
	}
}

@media all and (max-width:1000px){
	.footer ul {
		margin-left: 100px;
	}
}

@media all and (max-width:815px){
	.footer ul {
		margin-left: 80px;
	}
}

@media all and (max-width:750px){
	.footer ul {
		margin-left: 50px;
	}
}

@media all and (max-width:650px){
	.footer ul {
		margin-left: 30px;
	}
}

@media all and (max-width:525px){
	.footer ul {
		margin-left: 20px;
	}
}

@media all and (min-width:520px){
    .footer {
		display: flex;
		justify-content: flex-start;
		background: #000;
		color: whitesmoke;
	}
}

@media all and (max-width:519px) {
	.footer {
        display: flex;
		flex-wrap: wrap;
        justify-content: space-around;
		background: #000;
		color: whitesmoke;
	}

}

@media all and (max-width:381px){
	.footer{
		display: flex;
		flex-flow: column wrap;
		
	}
}